<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insightsshare" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InsightsShare" >
        <activity
            android:name=".RegistrActivity"
            android:exported="true"/>

        <activity
            android:name=".NavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_navigation" />
        <activity
            android:name=".EventplanningActivity5"
            android:exported="true"
            android:label="@string/title_activity_eventplanning5"
            android:theme="@style/Theme.InsightsShare.NoActionBar" />
        <activity
            android:name=".SettingsActivity6"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>